@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-ExtraLight.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-ExtraLight.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-ExtraLight.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-ExtraLight.svg') format('svg');
	font-weight: 100;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-Light.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-Light.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-Light.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-Light.svg') format('svg');
	font-weight: 200;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-Regular.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-Regular.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-Regular.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-Regular.svg') format('svg');
	font-weight: 400;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-SemiBold.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-SemiBold.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-SemiBold.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-SemiBold.svg') format('svg');
	font-weight: 500;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-Bold.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-Bold.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-Bold.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-Bold.svg') format('svg');
	font-weight: 600;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-ExtraBold.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-ExtraBold.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-ExtraBold.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-ExtraBold.svg') format('svg');
	font-weight: 800;
}

@font-face {
	font-family: 'Nunito';
	src: url('../assets/fonts/Nunito/NunitoSans-Black.eot');
	src: local('☺'), url('../assets/fonts/Nunito/NunitoSans-Black.woff') format('woff'), url('../assets/fonts/Nunito/NunitoSans-Black.ttf') format('truetype'), url('../assets/fonts/Nunito/NunitoSans-Black.svg') format('svg');
	font-weight: 900;
}