.main-promo-block{
    position: relative;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0px 4px 100px rgba(0, 0, 0, 0.03);
    z-index: -1;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../assets/image/main-promo/main_background.jpg);
        opacity: .07;
        z-index: -1;
    }

    header{
        .logo-block{
            display: inline-flex;
            align-items: center;
            margin: 20px 0 0 30px;
            position: absolute;
            &__text{
                display: flex;
                flex-direction: column;
                background-color: rgba($color: #FFF, $alpha: .6);
                padding: 12px 10px;
                overflow: hidden;
                span{
                    animation: onLoadViewLogoText .8s;
                    font-size: 14px;
                    line-height: 17px;
                    color: #1B2A4E;
                }
            }
        }
    }
    .promo-content{
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__wrapper{
            position: relative;
            display: flex;
            .head-title{
                .title{
                    font-size: 10vw;
                    font-weight: 800;
                    color: #0F1A35;
                    transition: all;
                    .sience{
                      line-height: .8em;
                      display: block;
                      font-size: 1em;
                      background-color: white;
                    }
                    .unite{
                        font-weight: 500;
                        font-size: 0.576em;
                        line-height: 1em;
                        background-color: white;
                    }
                    .bottom-row{
                        display: flex;
                        margin-left: 1.05em;
                        background-color: white;
                        .and{
                            font-weight: 600;
                            line-height: .83em;
                            font-size: .892em;
                        }
                        .do-strong{
                            line-height: 1.1em;
                            font-size: .338em;
                        }
                    }
                }
            }
            .head-menu{
                background-color: white;
                width: 15.5vw;
                padding: 10px 20px 20px 20px;
                line-height: 165%;
                font-size: 1vw;
                overflow: visible;
                .nav-menu{
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: 1.1em;
                    .menu-item{
                        cursor: pointer;
                        margin-bottom: 2px;
                    }
                }
                .text-block{
                    font-size: 1.1em;
                    color: #0F1A35;
                    .greeting-text{
                        min-width: 22.5vw;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@keyframes onLoadViewLogoText {
    0%{
        transform: translateX(-150%);
    }
    100%{
        transform: translateX(0%);
    }
}