.tape-wrapper {
  height: 1500px;
  margin-right: 0;
  font-size: 0.015em;
  .tape {
    margin-top: 25px;
    padding: 0 20px;
    box-sizing: border-box;
    width: calc(100vw - 30px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    .left-content {
      width: 70vw;
      .first-promo-row{
        height: 31vw;
        display: flex;
        .left-column{
          width: 27%;
          display: flex;
          flex-direction: column;
          .main-menu{
            background-color: #eee;
            width: 100%;
            height: 70%;
          }
          .reu-facts{
            margin-top: 15px;
            background-color: #eee;
            width: 100%;
            flex-grow: 1;
          }
        }
        .right-column{
          flex-grow: 1;
          margin-left: 15px;
          background-color: #eee;
        }
      }
      .tape-content{
        background-color: #eee;
        height: 100%;
        margin-top: 15px;
      }
    }
    .right-bar {
      position: -webkit-sticky;
      position: sticky;
      top: 50px;
      flex-grow: 1;
      margin-left: 15px;
      height: calc(100vh - 125px);
      background: #b11111;
    }
  }
}